.profile input, .profile select, .profile option, .profile textarea {
    color: #000;
}

.profile input:focus, .profile select:focus, .profile textarea:focus  {
    outline: 2px solid #984e1e;
}

.profile button {
    background-color: #984e1e;
    font-weight: 600;
}

.profile button:active {
    background-color: #83451b;
}

.profile-error {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0.2em 1em;
    color: red;
    background-color: rgba(255, 0, 0, 0.1);
    border: 1px solid red;
    text-align: left;
}