.report textarea {
    min-width: 8em;
    min-height: 7em;
    color: black;
}

.report input {
    color: black;
}

.report textarea:focus  {
    outline: 2px solid #984e1e;
}

.datepicker {
    border: 1px solid gray;
}

.datepicker:focus {
    outline: 2px solid #984e1e;
}

.report button {
    background-color: #984e1e;
    font-weight: 600;
}

.report button:active {
    background-color: #83451b;
}

.report h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
    color: rgb(225, 0, 0);
}

.report .download-btn {
    color: #83451b;
    background-color: #fff;
    border: 1px solid #83451b;
    padding: 0 0.5em;
    border-radius: 1em;
}

.report .download-btn:active {
    background-color: #fff;
}