.claim textarea {
    min-height: 10em;
    color: #000;
}

.claim button {
    background-color: #984e1e;
    font-weight: 600;
}

.claim button:active {
    background-color: #83451b;
}

.claim-error {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0.2em 1em;
    color: red;
    background-color: rgba(255, 0, 0, 0.1);
    border: 1px solid red;
    text-align: left;
}

.claim input:focus, .claim select:focus, .claim textarea:focus  {
    outline: 2px solid #984e1e;
}