.change-password input {
    color: #000;
}

.change-password input:focus, .change-password select:focus, .change-password textarea:focus  {
    outline: 2px solid #984e1e;
}

.change-password button {
    background-color: #984e1e;
    font-weight: 600;
}

.change-password button:active {
    background-color: #83451b;
}