.register input, .register select, .register option, .register textarea {
    color: #000;
}

.register input:focus, .register select:focus, .register textarea:focus  {
    outline: 2px solid #984e1e;
}

.register button {
    background-color: #984e1e;
    font-weight: 600;
}

.register button:active {
    background-color: #83451b;
}

.reg-error {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0.2em 1em;
    color: red;
    background-color: rgba(255, 0, 0, 0.1);
    border: 1px solid red;
    text-align: left;
}